.DS_Store
.vscode
.cursor/
.cursorrules/
**/.DS_Store

.ipynb_checkpoints/


jupyter/.jupyter/lab/workspaces/
jupyter/.jupyter/serverconfig/
jupyter/migrated

superfile/Library/Application Support/superfile/lastCheckVersion
superfile/Library/Application Support/superfile/superfile.log

bpytop/.config/bpytop/error.log

tmux/.config/tmux/plugins/extrakto